<!-- add phenotype modal -->
<div class="modal fade" id="addPhenotypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-md" role="document">


      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">New Phenotype</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="phenotype-form-submit" action="{{url_for('add_phenotype')}}" method="post">
            <div class="modal-body">
                <div class="form-group">
                    <label for="phenotype" class="col-form-label">Phenotype</label>
                    <input type="text" class="form-control" name="phenotype" value="{{ request.form.phenotype }}">
                </div>

                <div class="form-group">
                    <label for="icd9" class="col-form-label">ICD-9</label>
                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="popover" title="ICD Format" data-content="ICD-9: XXX.XX ICD-10: XXX.XXX(X)">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </button>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="text" class="form-control" name="icd9_inclusion" value="{{ request.form.icd9_inclusion }}" placeholder="inclusionary">
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control" name="icd9_exclusion" value="{{ request.form.icd9_exclusion }}" placeholder="exclusionary">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="icd10" class="col-form-label">ICD-10</label>


                    <input type="text" class="form-control" name="icd10" value="{{ request.form.icd10 }}" placeholder="xxx.xxx(x)">
                </div>

            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
            </div>
        </form>
      </div>
    </div>
</div>